{% extends '@AdminPanelPlugin/admin.base.html.twig' %}

{% block content %}
    <h2>{{component_type}}: {{component_name}}</h2>
    <p>The {{component_type}} {{component_name}} has been successfully {{component_action}}.</p>
{% endblock %}
