{% extends '@Theme/base.html.twig' %}

{% block title %}Page List{% endblock %}

{% block content %}
    <h1>Page List</h1>

    {% if 'editor' in userRoles %}
        <a href="{{ path('page_create') }}">Add New Page</a>
    {% endif %}

    <table>
        <thead>
            <tr>
                <th>Path</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for page in pages %}
                <tr>
                    <td>{{ page.getAbsolutePath() }}</td>
                    <td>{{ page.metadata.title }}</td>
                    <td>
                        <a href="{{ path('page_show', {'slug': page.slug}) }}">view</a>
                        {% if 'editor' in userRoles %}
                            <a href="{{ path('page_edit', {'slug': page.slug}) }}">edit</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No pages found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}